# Ignore all core Drupal files.
www/*.*
www/core
www/modules/README.txt
www/profiles/README.txt
www/themes/README.txt

# But not the .well-known!
!www/.well-known

# Ignore vendor directory
vendor

# Ignore contrib files.
www/libraries/*
www/modules/*
www/themes/*
www/sites
